
<robot name="vision_rpi_bot">
<link name="base_link">
    <inertial>
      <mass value="4" />
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <inertia ixx="0.00355" iyy="0.01265" izz="0.013832" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>

    <visual>
      <geometry>
        <mesh filename="package://vision_rpi_bot/meshes/base.dae" />

      </geometry>

    </visual>

    <collision>
      <geometry>
        <mesh filename="package://vision_rpi_bot/meshes/base.dae" />
      </geometry>
    </collision>

  </link>

</robot>